@import 'reset.css';

/* 	Blue: #0193D5;
	Green: #76BE4B;
*/
body {font-family: "Open Sans", helvetica, arial, verdana, sans-serif; color: #656771;}

h1 {font-size: 3em; margin: 1em; text-align: center; font-weight: 300;}

#virtual-home {background: url(../images/fullcolor.png) no-repeat 0 0; background-size: 1441px 878px; width: 1441px; height: 878px; margin: 0 auto; position: relative; transition: background .5s linear;}
	#virtual-home:hover {background: url(../images/greyscale.png) no-repeat 0 0; background-size: 1441px 878px;}

	.hotspot, .hotspot a {position: absolute;}
	.hotspot a {opacity: 0; transition: opacity .5s ease-out; border: 5px solid lime; border-radius: 50%; box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.9), 0px 0px 0px 3px rgba(255,255,255,.9), 0px 5px 0px 0px rgba(50, 50, 50, 0.2), inset 0px 5px 0px 0px rgba(50, 50, 50, 0.2);}
		.hotspot:hover a {opacity: 1;}
	
	#pool {left: 7px; top: 251px; width: 256px; height: 120px; }
		#pool a {left: 120px; top: 5px;height: 75px; width: 75px; border-color: #76BE4B;}

	#hot-tub {left: 19px; top: 371px; width: 163px; height: 124px; }
		#hot-tub a {left: 25px; top: 20px; border-color: #76BE4B; height: 75px; width: 75px;}

	#hot-water {left: 152px; top: 498px; width: 48px; height: 118px; }
		#hot-water a {left: -15px; top:50px; border-color: #76BE4B; height: 60px; width: 60px;}

	#washer-dryer {left: 200px; top: 508px; width: 107px; height: 118px; }
		#washer-dryer a {left: 30px; top:20px; border-color: #76BE4B; height: 60px; width: 60px;}

	#furnace {left: 317px; top: 404px; width: 111px; height: 167px; }
		#furnace a {left: 0px; top: 75px; border-color: #76BE4B; height: 60px; width: 60px; }

	#central-ac {left: 393px; top: 575px; width: 120px; height: 127px; }
		#central-ac a {left: 25px; top: 15px; border-color: #76BE4B; height: 60px; width: 60px; }
	
	#tv {left: 501px; top: 395px; width: 200px; height: 144px; }
		#tv a {left: 55px; top: 20px; border-color: #76BE4B; height: 75px; width: 75px;}

	#ceiling-fan {left: 588px; top: 278px; width: 134px; height: 97px; }
		#ceiling-fan  a {left: 25px; top: 25px; border-color: #76BE4B; height: 75px; width: 75px;}		

	#thermostat {left: 715px; top: 379px; width: 35px; height: 60px; }
		#thermostat a {left: -10px; top: 0px; border-color: #76BE4B; height: 40px; width: 40px;}		

	#floor-lamp {left: 764px; top: 481px; width: 69px; height: 118px; }
		#floor-lamp a {left: 0px; top: -10px; border-color: #76BE4B; height: 60px; width: 60px;}		

	#fridge {left: 763px; top: 333px; width: 55px; height: 143px; }
		#fridge a {left: 0px; top: 30px; border-color: #76BE4B; height: 60px; width: 60px;}		

	#dishwasher {left: 861px; top: 390px; width: 42px; height: 60px; }
		#dishwasher a {left: -15px; top: -5px; border-color: #76BE4B; height: 60px; width: 60px;}	

	#coffee-pot {left: 864px; top: 343px; width: 42px; height: 60px; }
		#coffee-pot a {left: -5px; top: -5px; border-color: #76BE4B; height: 40px; width: 40px;}	

	#electronic-meter {left: 979px; top: 476px; width: 60px; height: 53px; }
		#electronic-meter a {left: -5px; top: -10px; border-color: #76BE4B; height: 60px; width: 60px;}		

	#white-van {left: 995px; top: 583px; width: 348px; height: 294px; }
		#white-van a {left: 221px; top: 50px; border-color: #76BE4B; height: 80px; width: 80px;}

	#mailbox {left: 1325px; top: 530px; width: 62px; height: 89px; }
		#mailbox a {left: -13px; top: -15px; border-color: #76BE4B; height: 75px; width: 75px;}	

	#front-door {left: 1094px; top: 393px; width: 67px; height: 183px; }
		#front-door a {left: 10px; top: 70px; border-color: #76BE4B; height: 60px; width: 60px;}	

	#ev-charger {left: 1237px; top: 343px; width: 78px; height: 117px; }
		#ev-charger a {left: 29px; top: -5px; border-color: #76BE4B; height: 50px; width: 50px;}

	#facade-window {left: 1073px; top: 165px; width: 111px; height: 144px; }
		#facade-window a {left: 22px; top: 35px; border-color: #76BE4B; height: 60px; width: 60px;}

	#insulation {left: 872px; top: 55px; width: 190px; height: 117px; }
		#insulation a {left: 50px; top: 25px; border-color: #76BE4B; height: 75px; width: 75px;}

	#house-fan {left: 707px; top: 47px; width: 157px; height: 92px; }
		#house-fan a {left: 40px; top: 0px; border-color: #76BE4B; height: 75px; width: 75px;}

	#solar-panels {left: 381px; top: 90px; width: 315px; height: 94px; }
		#solar-panels a {left: 150px; top: 0px; border-color: #76BE4B; height: 75px; width: 75px;}

	#window-ac {left: 259px; top: 210px; width: 62px; height: 117px; }
		#window-ac a {left: -10px; top: 40px; border-color: #76BE4B; height: 75px; width: 75px;}
