@import 'reset.css';

/* 	Blue: #0193D5;
	Green: #76BE4B;
*/
body {font-family: "Open Sans", helvetica, arial, verdana, sans-serif; color: #656771;}

h1 {font-size: 3em; margin: 1em; text-align: center; font-weight: 300;}

#virtual-home {background: url(../images/fullcolor2x.png) no-repeat 0 0; background-size: 1000px 612px; width: 1000px; height: 612px; margin: 0 auto; position: relative; transition: background .5s linear;}
	#virtual-home:hover {background: url(../images/greyscale2x.png) no-repeat 0 0; background-size: 1000px 612px;}

	.hotspot, .hotspot a {position: absolute;}
	.hotspot a {cursor: help; opacity: 0; transition: opacity .5s ease-out; border: 5px solid #76BE4B;; border-radius: 50%; box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.9), 0px 0px 0px 3px rgba(255,255,255,.9), 0px 5px 0px 0px rgba(0,0,0,.2), inset 0px 5px 0px 0px rgba(0,0,0,.2);}
		.hotspot:hover a {opacity: 1;}

	#pool {left: 4px; top: 174px; width: 176px; height: 86px;}
		#pool a {left: 70px; top: 5px;height: 50px; width: 50px;}

	#hot-tub {left: 13px; top: 258px; width: 176px; height: 57px;}
		#hot-tub a {left: 25px; top: 0px;height: 50px; width: 50px;}

	#hot-water {left: 106px; top: 315px; width: 32px; height: 121px;}
		#hot-water a {left: -10px; top:30px; height: 45px; width: 45px;}

	#washer-dryer {left: 137px; top: 355px; width: 43px; height: 78px;}
		#washer-dryer a {left: 20px; top: 0px; height: 50px; width: 50px;}

	#furnace {left: 222px; top: 315px; width: 43px; height: 78px;}
		#furnace a {left: -5px; top: 25px; height: 40px; width: 40px;}

	#central-ac {left: 264px; top: 406px; width: 102px; height: 73px;}
		#central-ac a {left: 20px; top: 5px; height: 60px; width: 60px;}

	#tv {left: 366px; top: 274px; width: 105px; height: 64px;}
		#tv a {left: 20px; top: 0px; height: 50px; width: 50px;}

	#ceiling-fan {left: 408px; top: 187px; width: 93px; height: 73px; }
		#ceiling-fan  a {left: 20px; top: 15px; height: 50px; width: 50px;}

	#thermostat {left: 496px; top: 262px; width: 29px; height: 34px;}
		#thermostat a {left: -10px; top: -10px; height: 40px; width: 40px;}

	#floor-lamp {left: 531px; top: 334px; width: 47px; height: 77px;}
		#floor-lamp a {left: -5px; top: -10px; height: 50px; width: 50px;}

	#fridge {left: 530px; top: 231px; width: 39px; height: 100px;}
		#fridge a {left: -10px; top: 20px; height: 50px; width: 50px;}

	#dishwasher {left: 597px; top: 274px; width: 32px; height: 36px;}
		#dishwasher a {left: -10px; top: -10px; height: 45px; width: 45px;}

	#coffee-pot {left: 605px; top: 244px; width: 20px; height: 20px; }
		#coffee-pot a {left: -15px; top: -15px; height: 40px; width: 40px;}

	#electronic-meter {left: 687px; top: 334px; width: 29px; height: 35px;}
		#electronic-meter a {left: -10px; top: -10px; height: 40px; width: 40px;}

	#white-van {left: 691px; top: 425px; width: 229px; height: 169px;}
		#white-van a {left: 150px; top: 10px; height: 75px; width: 75px;}

	#mailbox {left: 920px; top: 368px; width: 43px; height: 62px;}
		#mailbox a {left: -13px; top: -15px; height: 60px; width: 60px; border-color: #0193D5;}

	#front-door {left: 760px; top: 273px; width: 47px; height: 127px;}
		#front-door a {left: 0px; top: 50px; height: 50px; width: 50px;}

	#ev-charger {left: 855px; top: 242px; width: 51px; height: 78px;}
		#ev-charger a {left: 10px; top: -15px; height: 50px; width: 50px;}

	#facade-window {left: 747px; top: 109px; width: 78px; height: 93px;}
		#facade-window a {left: 5px; top: 15px; height: 60px; width: 60px;}

	#insulation {left: 597px; top: 45px; width: 146px; height: 66px; }
		#insulation a {left: 30px; top: 0px; height: 60px; width: 60px;}

	#house-fan {left: 489px; top: 33px; width: 109px; height: 58px;}
		#house-fan a {left: 20px; top: 0px; height: 60px; width: 60px;}

	#solar-panels {left: 276px; top: 63px; width: 213px; height: 66px;}
		#solar-panels a {left: 80px; top: 0px; height: 60px; width: 60px;}

	#window-ac {left: 180px; top: 146px; width: 43px; height: 81px; }
		#window-ac a {left: -10px; top: 25px; height: 50px; width: 50px;}


.tooltip {background: #ffffff; border: 1px solid #d4d4d4; border-radius: 6px; width: 360px;margin-bottom: 3px; box-shadow: 0 3px 0 0px rgba(0,0,0,.15);}

.tip-header {padding: 15px; overflow: hidden;}
	.tip-header .points {display: inline-block; float: right; font-size: 20px; line-height: 1.2em; padding: 5px; border: 2px solid #76BE4B; border-radius: 5px;}
	.tip-header h4 {float: left; font-weight: 300; font-size: 18px; color: #AEB3B8; line-height: 1.5em;}

.tip-content {padding: 15px; padding-top: 0;}
	.tip-content h3 {font-weight: 300; font-size: 24px; margin-bottom: 10px; line-height: 1.2em;}
	.tip-content p {line-height: 1.2em; font-size: 14px;}

.tip-ratings {padding: 15px; background: #fafafa; border-top: 1px solid #D4D4D4;text-align: center; font-size: 16px; font-weight: 300; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; box-shadow: 0 -2px 0 0px rgba(0,0,0,.04);}
	.tip-ratings .btn {margin: 10px auto;}
	.tip-ratings p {font-size: 14px; line-height: 1.2em;}
		.tip-ratings p i {font-style: italic;}
.btn, a.btn {background: #76BE4B; display: inline-block; padding: 8px 15px; font-size: 18px; line-height: 1.5em; border-radius: 5px; border: 2px solid #69AA43; color: #fafafa; font-weight: 300; text-decoration: none; box-shadow: 0 2px 0 0px rgba(0,0,0,.05);}


.program .btn, .program a.btn {background: #0193D5; border-color: #0084BF;}
.program .points {border-color: #0193D5;}
